{% extends "personal_blog/base.html" %}
{% load staticfiles %}
{% block link %}
    {% load custom_markdown %}
    <link rel="stylesheet" type="text/css" href="{% static 'personal_blog/css/personal_blog.css' %}">
{% endblock %}
{% block content %}
<div class="detail-body-left">
    <div class="list-group">
        {% for blog in blogs %}
        <a href="{% url 'personal_blog:blog_detail' blog.id %}" class="list-group-item">{{ blog.title }}</a>
        {% endfor %}
    </div>
</div>
<div class="detail-body-right">{{ blog|custom_markdown }}</div>
{% endblock %}
